#cloud-config
ssh_pwauth: True
ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDnQ6QQMTKBb9htjzD+pBYVuRbK6GRKzbgKvc4bNoEpV/7wAStdaGv2hCf5sDw/gdhQ0s28k/YZHGmWAFOyFQnGgRZ0tpc1PJnjykBkc1hJ1i2QiS93EDZo1TbcK0nt7u2DN1NeoaPbhX0Tqpp2hGcbfZLV++2BbIHav1w9fkTqMNZzyOVTKSCx8lO+DrdWahgPnTXYxANr9ZDnuYaOTqoj/dT9WuuwmN5wFPs8Mr1M+fcHX3IOWMB+Nc+43dnPaqR9xlB8gVubwAyKYicnmao77pARo4++Bxn27UMnMvKK9MhvSlUd0lj2fEiUAF+HIsvl1oP+yg8fCPOaS9oMZYH8pUsQF5G8gn5T86ENpcSdiM2C7A5WFnjbVY2pcCSfIJ/LMXbMwHku/lBEbyffQyTvKOgGji0v/pjbAtRXNGnSZ5LrclWrAeW6k7jhCzLUGTRCDgOVZMF0MsbgsjxL2nMnLZXV9MMmG1TJmYdA1BoPio23JFFkW9yEqPaP6YdQwKGMZUN7bGBZuzjj9K/06ZAq7dgRT3hFWgLYgNMO/1ia6NkOxWqh9qqUSZVgWDyNknEF3SBags9Ml12rmAibj1dz6qZa9x86/SxLzN0tcDUHV2Evhk7hsnOA6PdEGIJ1/OoTR4y9PbnWJkEEBHQN3gtN9ITLNiaoxZIjGOVFJaTLKQ== igor@fedora
chpasswd:
  list: |
    root:password
